# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# VSCode
.vscode/
.cursor

# Jupyter
.ipynb_checkpoints/

# Env
.env
.venv/
env/
venv/

# Model checkpoints
*.ckpt
*.pth
*.pt
*.h5

# Data
data/

outputs/
models/
catboost_info/
AICUP.md
experiment.md
todo_0422.md
